{% load static %}
<footer class="text-center text-lg-start text-white" style="background: linear-gradient(135deg, #0056A6, #030e14);">
    <section class="d-flex justify-content-center justify-content-lg-between p-4 border-bottom">
      <div class="me-5 d-none d-lg-block">
        <span class="text-white">Suivez-nous sur les réseaux sociaux:</span>
      </div>
      <div>
        <a href="{{ facebook_url }}" class="me-4 text-reset text-decoration-none" target="_blank">
          <i class="fab fa-facebook-f fa-2x"></i>
        </a>

        <a href="{{ instagram_url }}" class="me-4 text-reset text-decoration-none" target="_blank">
          <i class="fab fa-instagram fa-2x"></i>
          
        </a>
          <a href="{{ tiktok_url }}" class="me-4 text-reset" target="_blank">
          <i class="fab fa-tiktok fa-2x"></i>
        </a>
      </div>
      </section>
    <section class="">
      <div class="container-fluid text-center text-md-start mt-5">
        <div class="row mt-3">
          <div class="col-md-3 col-lg-4 col-xl-3 mx-auto mb-4">
            <div class="d-flex align-items-center mb-4">
              <img src="{% static 'images/shine.jpg' %}" 
                 alt="logo" 
                 style="width:50px; height:auto;">
           
              <div class="ms-2">
                <span class="fw-bold text-white">SHINE AGENCY</span><br>
                <small class="text-white">Votre rêve d'étude à l'international devient réalité !</small>
              </div>
            </div>
           
            <p>
            Société spécialisée dans l’accompagnement à l’inscription universitaire à l’étranger,
l’assistance pour les visas, la préparation au départ, l’accueil et l’installation à l’arrivée, ainsi
que l’accompagnement à l’insertion et à l’intégration.
            </p>
          </div>

          <div class="col-md-4 col-lg-4 col-xl-2 mx-auto mb-4">
            <h6 class="text-uppercase fw-bold mb-4">
              Services
            </h6>
            {% for services in services_proc %}
            <p><a href="{% url 'shine:services' services.slug %}" class="text-reset text-decoration-none">{{services.titre}}</a></p>
            {% endfor %}
                </div>

          <div class="col-md-4 col-lg-4 col-xl-3 mx-auto mb-md-0 mb-4 text-center">
            <h6 class="text-uppercase fw-bold mb-4">Contact</h6>
            
            <p class="mb-3">
              <i class="fas fa-home me-2"></i>
              {{ location }}
            </p>
            
            <p class="mb-3">
              <i class="fas fa-envelope me-2"></i>
              {{ email_address }}
            </p>

 <h6 class="text-uppercase fw-bold small"><i class="fas fa-phone   fa-rotate-90"></i><span class="ms-3">Téléphones</span></h6>
            <ul class="list-unstyled">
                <li>
                    {{ phone_number_bobo }}
                </li>
                <li>
                    {{ phone_number_ouaga }}
                </li>
                <li>
                    {{ phone_number_france }}
                </li>
            </ul>
          </div>
          </div>
      </div>
    </section>
    <div class="text-center p-4" style="background-color: rgba(0, 0, 0, 0.05);">
      © 2025 Copyright-SHINE AGENCY
    </div>
</footer>