{% extends "shine/inscription_service/default_form.html" %}
{% load static %}

{% block title %}
    {% if pack %}
        Demande de {{ pack.service.titre }} : {{ pack.titre_pack }} | Shine Agency
    {% else %}
        Assistance Visa & Mobilité Internationale | Shine Agency
    {% endif %}
{% endblock title %}
{% block extra_head %}
    <meta name="description" content="Lancez votre procédure de {{ pack.service.titre }} pour {{ pack.titre_pack }}. Shine Agency vous accompagne pour maximiser vos chances d'obtention de visa.">
    <meta name="robots" content="noindex, follow">

    <meta property="og:title" content="Procédure de Visa - {{ pack.titre_pack }}">
    <meta property="og:description" content="Accompagnement expert pour votre destination : {{ pack.service.titre }}. Remplissez vos informations de mobilité.">
    <meta property="og:image" content="{% if pack.service.image_service %}{{ pack.service.image_service.url }}{% else %}{% static 'images/visa-og.jpg' %}{% endif %}">
    <meta property="og:type" content="website">
{% endblock extra_head %}
{% block specific_fields %}
<div class="row mb-3">
    <div class="col-md-12 mb-3">
        <label class="form-label fw-bold">
            <i class="fas fa-passport text-title-gold me-1"></i>
            {{ form.type_visa.label }} <span class="text-danger">*</span>
        </label>
        {{ form.type_visa }}
        <div id="error_type_visa" class="text-danger small"></div>
    </div>

    <div class="col-md-6 mb-3">
        <label class="form-label fw-bold">
            <i class="fas fa-globe-africa text-title-gold me-1"></i>
            {{ form.pays_destination.label }} <span class="text-danger">*</span>
        </label>
        {{ form.pays_destination }}
        <div id="error_pays_destination" class="text-danger small"></div>
    </div>

    <div class="col-md-6 mb-3">
        <label class="form-label fw-bold">
            <i class="fas fa-calendar-check text-title-gold me-1"></i>
            {{ form.date_prevue.label }} <span class="text-danger">*</span>
        </label>
        {{ form.date_prevue }}
        <div id="error_date_prevue" class="text-danger small"></div>
    </div>
</div>
{% endblock %}