{% extends "shine/inscription_service/default_form.html" %}
{% load static %}
{% block title %}
    {% if pack %}
        Inscription : {{ pack.titre_pack }} - {{ pack.service.titre }} | Shine Agency
    {% else %}
        Inscription aux Services d'Accompagnement | Shine Agency
    {% endif %}
{% endblock title %}
{% block extra_head %}
    <meta name="description" content="Finalisez votre inscription pour le {{ pack.titre_pack }}. Shine Agency vous accompagne dans votre projet de {{ pack.service.titre }} avec expertise.">
    
    <meta property="og:title" content="Rejoignez Shine Agency - {{ pack.titre_pack }}">
    <meta property="og:description" content="Vous avez choisi l'excellence avec notre formule {{ pack.titre_pack }}. Complétez vos informations pour démarrer l'aventure.">
    <meta property="og:url" content="{{ request.build_absolute_uri }}">
    
    {% if pack.service.image_service %}
        <meta property="og:image" content="{{ pack.service.image_service.url }}">
    {% else %}
        <meta property="og:image" content="{% static 'images/default-share-shine.jpg' %}">
    {% endif %}
    
    <meta property="og:type" content="website">
    <meta name="robots" content="noindex, follow">
{% endblock extra_head %}
{% block specific_fields %}
<div class="row mb-4">
    <div class="col-md-12 mb-3">
    <div class="mb-3"> 
    <label class="form-label fw-bold">{{ form.nom_etablissement.label }}</label>
    {{ form.nom_etablissement }}
    <div class="text-danger small"></div> 

    </div>

    <div class="col-md-12">
        <label class="form-label fw-bold text-title-blue">
            <i class="fas fa-users text-title-gold me-1"></i>
            {{ form.nombre_eleves.label }} <span class="text-danger">*</span>
        </label>
        {{ form.nombre_eleves }}
        <div id="error_nombre_eleves" class="text-danger small mt-1"></div>
        <p class="text-muted small mt-1">Ex: Environ 450 élèves ou 300 élèves au primaire.</p>
    </div>
</div>

<div class="row mb-3">
    <div class="col-12">
        <label class="form-label fw-bold text-title-blue">
            <i class="fas fa-clipboard-list text-title-gold me-1"></i>
            Problèmes identifiés & Besoins <span class="text-danger">*</span>
        </label>
        {{ form.problemes_identifies }}
        <div id="error_problemes_identifies" class="text-danger small mt-1"></div>
        <p class="text-muted" style="font-size: 0.75rem;">
            Décrivez ici vos besoins (Gestion admin, Performance pédagogique, Digitalisation, etc.)
        </p>
    </div>
</div>

<style>
    /* Optionnel : Style spécifique pour ce formulaire */
    .form-control:focus {
        border-color: #c39d3b;
        box-shadow: 0 0 0 0.25rem rgba(195, 157, 59, 0.25);
    }
</style>


{% endblock specific_fields %}