{% extends "shine/inscription_service/default_form.html" %}
{% load static %}
{% block title %}
    Souscription : {{ pack.titre_pack }} | {{ pack.service.titre }} - Shine Agency
{% endblock title %}
{% block extra_head %}
    <meta name="description" content="Finalisez votre inscription au pack {{ pack.titre_pack }}. Shine Agency vous accompagne pour votre projet de {{ pack.service.titre }} avec expertise et sécurité.">
    <meta name="robots" content="noindex, follow"> <meta property="og:title" content="Finaliser mon inscription - Shine Agency">
    <meta property="og:description" content="Vous avez choisi la formule {{ pack.titre_pack }}. Complétez vos informations pour démarrer votre accompagnement.">
    <meta property="og:image" content="{% static 'images/inscription-securisee.jpg' %}">
    <meta property="og:type" content="website">

    <meta name="twitter:title" content="Inscription sécurisée | Shine Agency">
    <meta name="twitter:description" content="Dernière étape avant de lancer votre projet international avec nos mentors.">
{% endblock extra_head %}

{% block specific_fields %}
<div class="mb-3">
    <label class="form-label fw-bold">
        <i class="fas fa-graduation-cap me-2 text-title-gold "></i>{{ form.niveau_etude.label }}
    </label>
    {{ form.niveau_etude }}
    <div class="text-danger small"></div> 
</div>

<div class="mb-3">
    <label class="form-label fw-bold">
        <i class="fas fa-bullseye me-2 text-title-gold "></i>{{ form.objectif_principal.label }}
    </label>
    {{ form.objectif_principal }}
    <div class="text-danger small"></div>
</div>

<div class="mb-3">
    <label class="form-label fw-bold">
        <i class="fas fa-book me-2 text-title-gold "></i>{{ form.matieres.label }}
    </label>
    {{ form.matieres }}
    <div class="text-danger small"></div>
</div>
{% endblock %}