{% extends "base.html" %}
{% block title %}{% endblock title %}
{% block content %}
{% include 'usercompte/sec.html' %}

<section class="py-3">
    <div class="container text-center">

  <div class="row g-4 justify-content-center">

            <!-- CLIENT -->
            <div class="col-md-3 col-sm-6 ">
                <div class="card  shadow-sm border-0 p-4 h-100 profile-card-ui ">
                    <div class="mb-3">
                        <i class="fas fa-user fa-3x text-primary"></i>
                    </div>
                    <h4 class="fw-bold">Client / Étudiant</h4>
                    <p class="text-muted small mt-2">
                        Suivez vos démarches (programmes, bourses, visa & admission).
                    </p>
                    <a href="{% url 'usercompte:adminclient'%}">Admin</a>
                    <a href="{% url 'usercompte:registerclient'%}" class="btn  btn-responsive-primaryl mt-3">Continuer</a>
                </div>
            </div>

            <!-- APPORTEUR D’AFFAIRES -->
            <div class="col-md-3 col-sm-6">
                <div class="card shadow-sm border-0 p-4 h-100 profile-card-ui">
                    <div class="mb-3">
                        <i class="fas fa-briefcase fa-3x text-warning"></i>
                    </div>
                    <h4 class="fw-bold">Apporteur d’affaires</h4>
                    <p class="text-muted small mt-2">
                        Partagez des prospects, gagnez des commissions & suivez vos dossiers.
                    </p>
                    <a href="{% url 'usercompte:registerbusiness' %}" class="btn  btn-responsive-primaryl text-white mt-3">Continuer</a>
                </div>
            </div>

            <!-- MENTOR -->
            <div class="col-md-3 col-sm-6">
                <div class="card shadow-sm border-0 p-4 h-100 profile-card-ui">
                    <div class="mb-3">
                        <i class="fas fa-chalkboard-teacher fa-3x text-success"></i>
                    </div>
                    <h4 class="fw-bold">Mentor / Coach</h4>
                    <p class="text-muted small mt-2">
                        Encadrez les étudiants, attribuez des sessions & suivez leur progression.
                    </p>
                                        <a href="{% url 'usercompte:adminmentor'%}">Admin</a>

                    <a href="{% url 'usercompte:registermentor' %}" class="btn  btn-responsive-primaryl mt-3">Continuer</a>
                </div>
            </div>

        </div>
    </div>
</section>

<style>
    .profile-card-ui {
        transition: .3s ease;
        border-radius: 12px;
    }
    .profile-card-ui:hover {
        transform: translateY(-6px);
        box-shadow: 0 10px 25px rgba(0,0,0,0.12);
    }
</style>


{% endblock content %}