{% extends "base.html" %}
{% load static %}
{% block title %}{% endblock title %}


{% block content %}
<section class="hero-banner">

    <!-- Image -->
    <img src="{% static 'images/faq.jpg' %}" alt="Étudiants à l'université" class="hero-faq">

    <!-- Overlay bleu foncé transparent -->
    <div class="hero-overlay"></div>

    <!-- Contenu du Hero -->
    <div class="container hero-content">
        <div class="row">
            <div class="col-lg-6">
                <h1 class="hero-title text-title">
                    <span class="text-title-gold">Foire Aux Questions</span>(FAQ)
                </h1>
                <p class="hero-text">
                    Vous avez des questions ? Nous avons les réponses ! Consultez notre FAQ pour trouver des
                    informations utiles sur nos services, les procédures d'admission, les bourses d'études, et bien plus
                    encore. Si vous ne trouvez pas ce que vous cherchez, n'hésitez pas à nous contacter directement.
                </p>

            </div>
        </div>
    </div>
</section>

<section class="py-4" style="background-color: #f8f9fa;">
    <div class="circles justify-content-center align-items-center">
        <span></span>
        <span></span>
        <span></span>
        <span></span>
    </div>
    <div class="container">
        <p class="text-center lead mb-5 text-muted">Trouvez rapidement les réponses à vos interrogations sur vos études
            à l'étranger.</p>
        <div class="d-flex justify-content-center mb-5 flex-wrap" id="faq-filters">
            <button class="btn btn-faq-filter active me-2 mb-2" data-filter="all">Toutes les Catégories</button>
            {% for service in categorie_service %}
            <button class="btn btn-faq-filter me-2 mb-2" data-filter="{{ service.slug }}">
                {{ service.titre }}
            </button>
            {% endfor %}
        </div>

        <div class="row justify-content-center">
            <div class="col-lg-10">
                <div class="accordion" id="faq-accordion">
                    {% for faq in faqs %}
                    <div class="accordion-item faq-item shadow-sm mb-3 border-0 rounded-3"
                        data-category="{{ faq.service.slug }}">
                        <h2 class="accordion-header">
                            <button class="accordion-button collapsed  text-title-blue" type="button"
                                data-bs-toggle="collapse" data-bs-target="#faq-{{ faq.id }}"
                                style="border-radius: 12px;">
                                {{ faq.question }}
                            </button>
                        </h2>
                        <div id="faq-{{ faq.id }}" class="accordion-collapse collapse" data-bs-parent="#faq-accordion">
                            <div class="accordion-body text-muted">
                                {{ faq.reponse }}
                            </div>
                        </div>
                    </div>
                    {% empty %}
                    <p class="text-center">Aucune question trouvée.</p>
                    {% endfor %}
                </div>
            </div>
        </div>

    </div>
</section>
{% endblock content %}