<section class="container py-5">
    <div class="row justify-content-center">
        <div class="col-lg-8 text-center d-flex flex-column align-items-center">
            
            <h4 class="fw-bold mb-3" style="color:#122046;">
                Rejoignez notre Communauté !
            </h4>
            <p class="lead mb-4 text-muted">
                Restez informé de toutes nos actualités, événements exclusifs et conseils d'experts...
            </p>

            <div class="d-flex gap-3 mb-5 justify-content-center">
                <button class="btn btn-agen-colr px-4" style="background-color: #c39d3b; color: white;">
                    Devenir un mentor
                </button>
                <button class="btn btn-outline-agen-colr px-4" style="border: 2px solid #c39d3b; color: #c39d3b;">
                    Contactez-nous
                </button>
            </div>
<div class="card p-4 shadow-sm bg-white" style="width:550px">
    <h5 class="mb-3 fw-bold text-title-blue">Abonnez-vous à la Newsletter</h5>
    
    <form id="newsletter-form" method="post" action="{% url 'shine:newsletter' %}">
        {% csrf_token %}
        <div class="input-group">
            <input type="email" name="email" required
                   class="form-control form-control-lg form-control-email-news" 
                   placeholder="Votre adresse email">
            
            <button class="btn btn-responsive-warning" type="submit">S'abonner</button>
        </div>
        
        <div id="newsletter-message" class="mt-2"></div>
        
        <small class="form-text text-muted mt-2 d-block">
            Promis, nous ne spammerons pas votre boîte de réception.
        </small>
    </form>
</div>
            </div>
    </div>
</section>